.main{
    color: white;
    width: 400px;
    background: rgb(26, 26, 26);
    border-radius: 8px;
    height: calc(100vh - 16px);
    margin: 8px;
} 

.name{
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.1em;
}

.follow{
    font-family: "Poppins", sans-serif;
    width: 95%;
    margin: auto;
    border-radius: 12px;
    background: rgba(45, 45, 45, 1);
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.follow-links{
    width: fit-content;
    display: flex;
    gap:0.4rem;
}

.follow-icons{
    color: #ebebeb;
    width: fit-content;
}

.sections{
    display: flex;
    flex-direction:column;
    width: 95%;
    margin: auto;
    border-radius: 12px;
    background: rgba(45, 45, 45, 1);
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
    line-height: 1.1em;
    gap:8px;
    padding:1rem;
}

